TECHNIC/__pycache__/__init__.cpython-39.pyc
TECHNIC/__pycache__/cm.cpython-39.pyc
TECHNIC/__pycache__/condition.cpython-39.pyc
TECHNIC/__pycache__/data.cpython-39.pyc
TECHNIC/__pycache__/featureBuilder.cpython-39.pyc
TECHNIC/__pycache__/internal.cpython-39.pyc
TECHNIC/__pycache__/mev.cpython-39.pyc
TECHNIC/__pycache__/model.cpython-39.pyc
TECHNIC/__pycache__/plot.cpython-39.pyc
TECHNIC/__pycache__/report.cpython-39.pyc
TECHNIC/__pycache__/scenario.cpython-39.pyc
TECHNIC/__pycache__/segment.cpython-39.pyc
TECHNIC/__pycache__/template.cpython-39.pyc
TECHNIC/__pycache__/test.cpython-39.pyc
TECHNIC/__pycache__/transform.cpython-39.pyc
TECHNIC/__pycache__/writer.cpython-39.pyc
.cursorrules
